{% extends 'global.html.twig' %}

{% block title %}
    Commune
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""> </script>
{% endblock %}
{% block body %}

    {% block content %}
        <div class="example-wrapper">
            <button type="button" class="btn btn-primary retour"><a href=" {{ url("etablissements") }}" style="color : white">Retour</a></button>
            <h1> {{ etab.appellation_officielle }}! ✅</h1>
            <h1>  Commune {{ etab.commune }}</h1>
            <div id="lat" hidden>{{ etablissement[0].latitude }}</div>
            <div id="lon" hidden >{{ etablissement[0].longitude }}</div>
            <div id="nom" hidden >{{ etablissement[0].appellation_officielle }}</div>
            <div id="map"></div>
        </div>
    {% endblock %}
{% endblock %}

    {% block script %}
    <script>
        const draw_map = (data) => {  
        const map = L.map('map')
            .fitBounds(data.map((d) => [d.lat,d.lon]))
            .addLayer(L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }));
        data.forEach((etablissement) => {
            L.marker([etablissement.lat, etablissement.lon]).addTo(map).bindPopup("<b>"+etablissement.nom+"</b>");
        });
        };

        let lat = document.getElementById('lat').innerHTML;
        lat = lat.replace(',', '.');
        
        let lon = document.getElementById('lon').innerHTML;
        lon = lon.replace(',', '.');

        const data = [
            {
                nom: document.getElementById('nom').innerHTML,
                lat: lat,
                lon: lon
            }
        ];
        draw_map(data);
    </script>

    {% endblock %}