{% extends 'global.html.twig' %}

{% block title %}
    Page des etablissements
{% endblock %}

{% block body %}
    {% block content %}

    <div class="example-wrapper" style="align-text: center">
        <h1>Etablissements  ! ✅</h1>
        <td><button type="button" class="btn btn-primary ajout"><a href=" {{ url("etablissements") }}" style="color : white">Ajouter</a></button>

        <table class="table col-6">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Appellation Officielle</th>
                    <th>Denomination Principale</th>
                    <th>Secteur</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Adresse</th>
                    <th>Departement</th>
                    <th>Commune</th>
                    <th>Region</th>
                    <th>Academie</th>
                    <th>Date Ouverture</th>
                    <th>Action</th>
                </tr>
            <tbody>
                {% for etablissement in etablissements %}
                <tr>
                    <td>{{ etablissement.id }}</td>
                    <td><a href="{{ url('etablissement' , { id : etablissement.id}) }}">{{ etablissement.appellation_officielle }}</a></td>
                    <td>{{ etablissement.denomination_principale }}</td>
                    <td>{{ etablissement.secteur }}</td>
                    <td>{{ etablissement.latitude }}</td>
                    <td>{{ etablissement.longitude }}</td>
                    <td>{{ etablissement.adresse }}</td>
                    <td><a href="{{ url('departement' , { id : etablissement.code_departement })}}">{{ etablissement.departement }}</a></td>
                    <td><a href="{{ url('commune' , { id : etablissement.code_commune}) }}">{{ etablissement.commune }}</a></td>
                    <td><a href="{{ url('region' , { id : etablissement.code_region}) }}">{{ etablissement.region }}</a></td>
                    <td><a href="{{ url('academie' , { id : etablissement.code_academie}) }}">{{ etablissement.academie}}</a></td>
                    <td>{{ etablissement.date_ouverture}}</td>
                    <td><button type="button" class="btn btn-primary modifier"><a href=" {{ url("etablissements") }}" style="color : white">Modifier</a></button>
                    <button type="button" class="btn btn-primary supprimer"><a href=" {{ url("etablissementsupprimer", { id : etablissement.id  }) }}}" style="color : white">Supprimer</a></button></td>
                </tr>

                {% endfor %}
            </tbody>   
        </table>
    </div>
    {% endblock %}

{% endblock %}